/*===============Register==========================*/
.registerheading {
  height: 10vh;
  text-align: center;
}

.register {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 110vh;
  flex-direction: column;
  background-image:url('../../src/images/backgroundLR.png');
  background-size: cover;
  background-position: center; /* Ensures the image is centered */
  background-repeat: no-repeat;
}

.registerForm {
  background-color: #f7c882;
  padding: 50px;
  border-radius: 50px;
}

.btn {
  background-color: #da6a02;
  border-color: aliceblue;
}

.btn:hover {
  background-color: rgb(253, 163, 60);
  border-color: aliceblue;
}

/*=====================Login=======================*/

.loginHeading {
  height: 10vh;
  text-align: center;
}

.loginForm {
  background-color: #f7c882;
  padding: 50px;
  border-radius: 50px;
}

.login {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  flex-direction: column;
  background-image:url('../../src/images/backgroundLR.png');
  background-size: cover;
  background-position: center; /* Ensures the image is centered */
  background-repeat: no-repeat;
}

.btn {
  color: white;
  background-color: rgb(255, 154, 2);
  border-color: rgba(255, 255, 255, 0.144);
}
