.footer {
  background: #0000003f;
  padding: 10px 0;
  font-family: 'Play', sans-serif;
  text-align: center;
}

.footer .row {
  width: 100%;
  margin: 1% 0;
  color: rgb(0, 0, 0);
  font-size: 0.8em;
}

.footer .row a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  transition: color 0.5s;
}

.footer .row a:hover {
  color: #ff9e4e;
}

.footer .social-icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.footer .social-icons a {
  margin: 0 15px;
  text-align: center;
}

.footer .social-icons a i {
  font-size: 2em;
}

.footer .social-icons a span {
  display: inline-block;
  margin-top: 5px;
  font-size: 0.8em;
}

.footer .row ul {
  padding: 0;
}

.footer .row ul li {
  display: inline-block;
  margin: 0 30px;
}

@media (max-width: 720px) {
  .footer {
    text-align: left;
    padding: 0;
  }

  .footer .row ul li {
    display: block;
    margin: 10px 0;
    text-align: left;
  }

  .footer .social-icons a {
    margin: 10px 0;
  }
}
